@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");


html, body, [class*="css"] {
    font-size: 17px;
}

body button {
    background-image: src("src/assets/microphone.png");
}

#title-style {
    color: #8a58ff;
}

#subtitle-style {
    color: rgb(40, 159, 214);
}

#footer a {
    color: #9169ff;
    text-decoration: none;
}